<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    @{
        ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.FAQ;
    }

    <h2>FAQ</h2>

    <p>
        @Html.Raw(SystemRezerwacjiKortow.Resources.Texts.FAQIntro)
    </p>

    <hr/>

    <div>
        <h3>@SystemRezerwacjiKortow.Resources.Texts.CommonQuestions: </h3>
        <ol>
            <li><a href="#what-is-this">@SystemRezerwacjiKortow.Resources.Texts.WhatIsTennisCourtSystem</a></li>
            <li><a href="#language-change">@SystemRezerwacjiKortow.Resources.Texts.HowToChangeLanguage</a></li>
        </ol>
        <h3>@SystemRezerwacjiKortow.Resources.Texts.Reservations: </h3>
        <ol>
        </ol>
    </div>
    <hr/>
    <div>
        <div>
            <h4 id="what-is-this"><strong>Q: </strong>@SystemRezerwacjiKortow.Resources.Texts.WhatIsTennisCourtSystem</h4>
            <strong>A: </strong>@SystemRezerwacjiKortow.Resources.Texts.TennisCourtSystemAnswer
            </div>
        <div>
            <h4 id="language-change"><strong>Q: </strong>@SystemRezerwacjiKortow.Resources.Texts.HowToChangeLanguage</h4>
            <strong>A: </strong>@SystemRezerwacjiKortow.Resources.Texts.ChangeLanguageAnswer
            <img src="~/Content/Image/FAQ/how_to_change_language.png" alt=@SystemRezerwacjiKortow.Resources.Texts.HowToChangeLanguage title=@SystemRezerwacjiKortow.Resources.Texts.HowToChangeLanguage /><br />
        </div>
    </div>

</body>
</html>