@model IEnumerable<SystemRezerwacjiKortow.Models.Reservation>

@{
    ViewBag.Title = SystemRezerwacjiKortow.Resources.Texts.WaitingReservations;
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.WaitingReservations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.DropDownList("Filter", new SelectListItem[]{
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.Contests, Value = "3"},
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.Courts, Value = "1"},
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.Gear, Value = "2"},
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.All, Value = "0"}
                                    }, new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GearID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GearAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInsert)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CyclicReservationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestID)
            </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.ReservationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContestName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        var backgrounColor = item.IsAccepted ? "background-color:lightgreen" : "background-color:lightsalmon";


        <tr style=@backgrounColor>


            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfInsert)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CyclicReservationID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContestID)
                </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.ReservationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestName)
            </td>
            <td>

                @if (item.IsAccepted)
                {

                    <p> @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Redeem, "RedeemReservation", new { id = item.ReservationID }) | @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Withdraw, "ConfirmReservation", new { id = item.ReservationID, accept = false })</p>
                }
                else
                {
                    <p> @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Confirm, "ConfirmReservation", new { id = item.ReservationID, accept = true }, new { id = "confirmButton" }) | @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Cancel, "CancelReservation", new { id = item.ReservationID }) </p>
                }



            </td>
        </tr>

    }
</table>

@if (ViewBag.MyErrorMessage == true)
{
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#acceptionstatus').modal('show');
        });
    </script>
}
else if (ViewBag.MyErrorMessage == false)
{
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#acceptionstatus').modal('show');
        });
    </script>
}



<div id="acceptionstatus" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pomyślnie zaakceptowano rezerwacje</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    function CallChangefunc(value) {
        if (value == 2) {
            window.location = "/Admin/WaitingGear";
        }
        else if (value == 1) {
            window.location = "/Admin/WaitingCourts";
        }
        else if (value == 0) {
            window.location = "/Admin/WaitingReservations";
        }
    }
</script>