@model IEnumerable<SystemRezerwacjiKortow.Models.Reservation>

@{
    ViewBag.Title = "GetMyReservations";
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.MyReservations</h2>


@Html.DropDownList("Filter", new SelectListItem[]{
                                    
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.Courts, Value = "1"},
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.Gear, Value = "2"},
                                    new SelectListItem(){ Text = SystemRezerwacjiKortow.Resources.Texts.All, Value = "0"}
                                    }, new { @class = "form-control", @onchange = "CallChangefunc(this.value)" })


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInsert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsAccepted)
        {
            <tr style="background-color:greenyellow" class="Search" id="o1">
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfInsert)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationName)
                </td>

                <td>
                    @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Cancel, "CancelReservation", new { id = item.ReservationID })
                </td>
            </tr>
        }
        else
        {
            <tr style="background-color:lightgrey" class="Search" id="o1">
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfInsert)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationName)
                </td>

                <td>
                    @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Cancel, "CancelReservation", new { id = item.ReservationID })
                </td>
            </tr>
        }

    }

</table>


<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    function CallChangefunc(value) {
        if (value == 2) {
            window.location = "/User/GetGear";
        }
        else if (value == 0) {
            window.location = "/User/GetMyCourtsReservations";
        }
    }
</script>