@model IEnumerable<SystemRezerwacjiKortow.Models.Reservation>

@{
    ViewBag.Title = "GetMyReservations";
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.MyCourtsReservations</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInsert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
     if(item.IsAccepted)
    {
    <tr style="background-color:greenyellow">
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfInsert)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IsAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationName)
        </td>

        <td>
            @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Cancel, "CancelReservation", new { id=item.ReservationID })
        </td>
    </tr>
       }
    else
    {
    <tr style="background-color:lightgrey">
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfInsert)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IsAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationName)
        </td>

        <td>
            @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Cancel, "CancelReservation", new { id=item.ReservationID })
        </td>
    </tr>
    }
        
    }

</table>
