@model IEnumerable<SystemRezerwacjiKortow.Models.Gear>

@{
    ViewBag.Title = @SystemRezerwacjiKortow.Resources.Texts.AvailableGear;
}

<h2>@SystemRezerwacjiKortow.Resources.Texts.AvailableGear</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriceH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFrom.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTo.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PriceH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFrom.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTo.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountAvailable)
        </td>
        <td>
            @Html.ActionLink(SystemRezerwacjiKortow.Resources.Texts.Reserve, "Reserve", new { id = item.GearID })
        </td>
    </tr>
}

</table>
