@model IEnumerable<SystemRezerwacjiKortow.Models.Contest>

@{
    ViewBag.Title = "Contests";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Style/Contest.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div>
            <h2>@SystemRezerwacjiKortow.Resources.Texts.UpcomingTournaments</h2>
        </div>
        <hr class="line1">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <time datetime="2014-07-20 2000">
                                <span class="day"> @Html.DisplayFor(modelItem => item.DateFrom.Day)</span>
                                <span class="month">@Html.DisplayFor(modelItem => item.DateFrom.Month)</span>
                                <span class="year">@Html.DisplayFor(modelItem => item.DateFrom.Year)</span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <img src="https://nowe.glucholazy.pl/images/icagenda/thumbs/themes/ic_large_w900h600q100_plakat-os-singiel-2018.jpg" />
                            <div class="info">
                                <h2 class="title">@Html.DisplayFor(modelItem => item.Name)</h2>
                                <p class="desc"> @Html.DisplayFor(modelItem => item.Description)</p>
                                <ul>
                                    <li><p style="float:left">@SystemRezerwacjiKortow.Resources.Texts.Organizer</p> <p style="float:left">@Html.DisplayFor(modelItem => item.Organizer)</p> </li>
                                    <li><p style="float:right"> </p> <p style="float:left"> @Html.ActionLink("Wiecej", "Details", new { id = item.ContestID })</p> </li>                                
                                </ul>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
